* {
  padding: 0;
  margin: 0;
}

body {
  background: #141d2f;
  color: #ffffff;
  font-family: "Space Mono", monospace;
  width: 100%;
}

button {
  font-family: "Space Mono", monospace;
  cursor: pointer;
}

ul li {
  list-style: none;
}

a {
  color: #ffffff;
  text-decoration: none;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

/* site styles */
.search-app {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 700px;
}

.full-screen-avatar {
  display: none;
}

.bio-section-avatar__text-full-screen {
  display: none;
}

.header {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.header__title {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  text-decoration: none;
  color: #ffffff;
}
.header__btn {
  background: transparent;
  border: none;
  color: #ffffff;
  display: flex;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
}
.header__btn img {
  padding-left: 10px;
}
.header .dark-mode {
  display: none;
}

.search-section {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 35px 4fr 1fr;
  background: #1e2a47;
  padding: 10px 10px;
  border-radius: 10px;
}
.search-section__icon {
  padding: 5px 7px 5px 0px;
  display: flex;
  align-self: center;
}
.search-section__input-light {
  background-color: transparent;
  border: none;
  color: #ffffff;
}
.search-section__input-light::placeholder {
  color: black;
}
.search-section__input {
  background-color: transparent;
  border: none;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
}
.search-section__input::placeholder {
  color: #ffffff;
}
.search-section input:focus,
.search-section textarea:focus,
.search-section select:focus {
  outline: none;
}
.search-section__btn {
  background: #0079ff;
  color: #ffffff;
  border: none;
  padding: 15px 10px;
  border-radius: 10px;
  font-size: 18px;
  max-width: 90px;
}

.user {
  background: #1e2a47;
  margin: 25px 0 60px 0;
  padding: 40px 20px;
  border-radius: 10px;
}

.bio-section__bio {
  padding-top: 25px;
}

.bio-section-avatar {
  display: flex;
}
.bio-section-avatar__img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.bio-section-avatar__text {
  padding-top: 10px;
  padding-left: 20px;
}
.bio-section-avatar__text-name {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  font-weight: 700;
  text-transform: capitalize;
}
.bio-section-avatar__text-date {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
}
.bio-section-avatar__text-handle {
  color: #0079ff;
}

.statistics {
  background: #141d2f;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
}
.statistics__title {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
}

.number {
  font-weight: bold;
}

.contact-section {
  margin-top: 20px;
}
.contact-section__list-item {
  padding-top: 15px;
}
.contact-section .location,
.contact-section .blog,
.contact-section .twitter,
.contact-section .company {
  word-break: break-all;
}

@media (min-width: 768px) {
  .search-app {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 800px;
  }

  .search-section {
    grid-template-columns: 65px 6fr 1fr;
  }

  .user {
    padding: 35px;
  }

  .content-section {
    width: 95%;
  }

  .bio-section-avatar__img {
    width: 150px;
    height: 150px;
  }
  .bio-section-avatar__text {
    padding-top: 20px;
    padding-left: 40px;
  }
  .bio-section-avatar__text-name {
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
  }
  .bio-section-avatar__text-date {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  .bio-section-avatar__text-handle {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .contact-section__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 75px);
  }
}
@media (min-width: 1024px) {
  .search-app {
    max-width: 700px;
  }

  .search-section {
    grid-template-columns: 65px 6fr 1fr;
  }

  .user {
    background: #1e2a47;
    margin: 25px 0 60px 0;
    padding: 40px 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 220px 1fr;
  }

  .content-section {
    width: 97%;
  }

  .full-screen-avatar {
    display: block;
    margin: 0 20px;
  }

  .bio-section-avatar {
    display: none;
  }

  .bio-section-avatar__text-full-screen {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }

  .contact-section__list {
    grid-template-rows: repeat(2, 65px);
  }

  .statistics {
    margin-top: 40px;
    justify-content: flex-start;
  }
  .statistics .statistics__title {
    padding: 0px;
  }
  .statistics p {
    padding: 0 30px;
  }
}
@media (min-width: 1400px) {
  .bio-section-avatar__text-full-screen {
    grid-gap: 14px;
  }
}

/*# sourceMappingURL=style.css.map */
