//General Colors
$white: #ffffff;
$dodger-blue: #0079FF;

// Light Mode Colors
$slate-gray: #697c9a;
$san-marino: #4B6A9B;
$licorice: #2B3442;

// Dark Mode Colors
$midnight-express-dark: #141D2F;
$midnight-express: #1E2A47;

