@import 'colors';
* {
	padding: 0;
	margin: 0;
}
body {
	background: $midnight-express-dark;
	color: $white;
	font-family: 'Space Mono', monospace;
	width: 100%;
}
button {
	font-family: 'Space Mono', monospace;
	cursor: pointer;
}
ul li {
	list-style: none;
}

a {
	color: $white;
	text-decoration: none;
}
